bcrypt==5.0.0
blinker==1.9.0
click==8.4.2
colorama==0.4.6
flask==3.1.3
flask-bcrypt==1.0.1
flask-login==0.6.3
flask-sqlalchemy==3.1.1
flask-wtf==1.3.0
greenlet==3.5.3
itsdangerous==2.2.0
jinja2==3.1.6
markupsafe==3.0.3
#pyodbc
python-dotenv==1.2.2
sqlalchemy==2.0.51
typing-extensions==4.16.0
werkzeug==3.1.8
wtforms==3.2.2
psycopg2-binary
gunicorn